{% extends 'base.html.twig' %}
{% block title %}Главная{% endblock %}
{% block body %}
    <h1 style="text-align: center;">Добро пожаловать</h1>
    <div style="text-align: center">
        {% if not app.user %}
        <button style="width: 15%; border-radius: 10px" type="submit">
            <a class="btn"
               href="{{ path('registration') }} ">Регистрация</a>
        </button>
        <button style="width: 15%; border-radius: 10px;" type="submit">
            <a class="btn"
               href="{{ path('authentication') }} ">Авторизация</a>
        </button>
            {% else %}
            <h2>Вы авторизованы</h2>
        {% endif %}
    </div>
{% endblock %}



