{% extends 'base.html.twig' %}
{% block body %}
    <div class="container" style="text-align: center; margin-top: 100px; width: 450px; background-color: #5eb5e0; border-radius: 15px">
        <h3>Регистрация</h3>
        {% if error %}
            <div style="color:red">{{ error }}</div>
        {% endif %}
        {{ form(form) }}
        <span>Уже регистрировались?</span><br>
        <button style="width: 50%; border-radius: 10px; margin-bottom: 20px;" type="submit">
            <a class="btn"
               href="{{ path('authentication') }} ">Авторизация</a>
        </button>
        <br>
        <div style="margin-bottom: 20px"><span>Регистрация по соц сетям</span></div>
        <script src="//ulogin.ru/js/ulogin.js"></script>
        <div id="uLogin" data-ulogin="display=panel;theme=classic;fields=first_name,last_name;providers=facebook,vkontakte,google;hidden=;redirect_uri=http%3A%2F%2Flocalhost%3A8000%2Fulogin%2Fregister_social_network;mobilebuttons=0;optional=email"></div>
        <div style="margin-bottom: 20px"></div>
    </div>
{% endblock %}