{% extends 'base.html.twig' %}
{% block title %}Регистрация по соц сетям{% endblock %}
{% block body %}
        <div class="container" style="text-align: center; margin-top: 100px; width: 450px; background-color: #5eb5e0; border-radius: 15px">
            <h1>Введите дополнительные данные</h1>
            {% if error %}
                <div style="color:red">{{ error }}</div>
            {% endif %}
            {{ form(form) }}
        </div>
{% endblock %}
